<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__PUBLIC__/talker/css/style.css">
    <title>maya</title>
</head>
<body>

    <input type="hidden" name="user_id" value="{$userInfo.user_id}">
    <!-- <div id="talker"> 聊天详情-->
    <div id="talker">
        <div class="theHead">
            <div class="headBack">
                返回
            </div>
            <div class="headFriend" data-fid="">
                maya
            </div>
            <div class="headDetail">
                详细
            </div>
        </div>
        <div class="headBlock">

        </div>
        <div class="theBody">
            <!--<div class="messageLeft">-->
                <!--<div class="messageHeader"><img src="__PUBLIC__/talker/img/boy.png" alt=""></div>-->
                <!--<div class="messageBody">-->
                    <!--<div class="messageWord">我的小时候我</div>-->
                <!--</div>-->
                <!--<div class="messageClear"></div>-->
            <!--</div>-->
            <!--<div class="messageRight">-->
                <!--<div class="messageHeader"><img src="__PUBLIC__/talker/img/girl.png" alt=""></div>-->
                <!--<div class="messageBody">-->
                    <!--<div class="messageWord">我的小时候我</div>-->
                <!--</div>-->
                <!--<div class="messageClear"></div>-->
            <!--</div>-->
        </div>

        <div class="footBlock"></div>
        <div class="theFoot">
            <div class="footInput">
                <input type="text" name="message">
            </div>
            <div class="footSubmit">
                <input type="submit" value="发送">
            </div>
        </div>
    </div>


    <!-- <div id="list"> 聊天列表-->
    <div id="list">
        <div class="listHead">
            <p>talker</p>
        </div>
        <div class="listBlock">
        </div>

        <div class="listBody">
            <!--<div class="friendItem">-->
                <!--<div class="itemHead">-->
                    <!--<img src="__PUBLIC__/talker/img/boy.png" alt="">-->
                <!--</div>-->
                <!--<div class="itemBody">-->
                    <!--<div>-->
                        <!--<p class="itemName"><b>maya</b></p>-->
                        <!--<p class="itemWord">我的小时候</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="lastTime">-->
                    <!--<p>&nbsp;</p>-->
                    <!--<p>12:36</p>-->
                <!--</div>-->
                <!--<div class="unReadNum">-->
                    <!--<p>0</p>-->
                <!--</div>-->
            <!--</div>-->
        </div>


        <div class="listFootBlock"></div>
        <div class="listFoot">
            <div class="talker bottomAction">talker</div>
            <div class="friend">friend</div>
        </div>
    </div>

    <!-- <div id="friend"> 好友列表-->
    <div id="friend">
        <div class="friendHead">
            <div class="friendList">
                <p>通讯录</p>
                <div class="friendAdd">添加</div>
            </div>
        </div>
        <!-- <div class="friendHeadBlock"></div> -->
        <!-- 群组 -->
        <div class="friendBody groupFriend">
            <div class="biaozhi">群组</div>
            <!--<div class="friendListItem">-->
                <!--<div class="friendImg">-->
                    <!--<img src="__PUBLIC__/talker/img/boy.png" alt="">-->
                <!--</div>-->
                <!--<div class="friendName">-->
                    <!--<p><b>maya</b></p>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <!-- 好友 -->
        <div class="friendBody personFriend">
            <div class="biaozhi">个人</div>
            <!--<div class="friendListItem">-->
                <!--<div class="friendImg">-->
                    <!--<img src="__PUBLIC__/talker/img/boy.png" alt="">-->
                <!--</div>-->
                <!--<div class="friendName">-->
                    <!--<p><b>maya</b></p>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="listFootBlock"></div>
        <div class="listFoot">
            <div class="talker bottomAction">talker</div>
            <div class="friend">friend</div>
        </div>
    </div>

</body>
<script src="__PUBLIC__/talker/js/jquery.min.js"></script>
<script>
    //切换聊天列表和好友列表
    $('.listFoot div').click(function(){
        $(this).addClass('bottomAction').siblings().removeClass('bottomAction');
        if($(this).hasClass('talker')){
            // alert("点击了聊天列表");
            $('#list').show();
            $('#friend').hide();
        }else if($(this).hasClass('friend')){
            // alert("点击了好友列表");
            $('#friend').show();
            $('#list').hide();
        }
    });

    //从聊天列表点击进入聊天详情
    $('.listBody').on('click','.friendItem',function(){
        $('#list').css('display','none');
        $('#talker').css('display','block');
    });

    //聊天详情点击返回
    $('.headBack').click(function(){
        $('#talker').css('display','none');
        $('#list').css('display','block');
    });


    /***********UI操作**************/

    var user_id;
    var ws;

    $(function(){
        //获取用户id
        user_id = $('input[name=user_id]').val();
        if(!user_id){
            window.location = '/index/index/login';
            return false;
        }
        //加载聊天列表
        getList(user_id);
        //加载好友列表
        getFriend(user_id);

        //websocket链接
        ws = new WebSocket("ws://47.94.251.11:2000");
        ws.onopen = function(){
            console.log('用户'+user_id+'连接成功');
            //发送userid，绑定客户端编号
            ws.send(JSON.stringify({"type":"bind","user_id":user_id}));
        };

        ws.onmessage = function(e) {
            var data = JSON.parse(e.data);
            if(data.type == 'resPerson'){
                receiveMessage(data.content);
                getList(user_id);
            }else if(data.type == 'warning'){
                alert(data.content);
            }
        };
    });




    //点击好友进入聊天详情
    $('.friendBody').on('click','.friendListItem',function(){
        var friend_id = $(this).attr('data-fid');
        if(!friend_id){
            alert('好友id不存在');
            return false;
        }
        //加载聊天详情
        getMessage(user_id,friend_id);

    });

    //点击聊天列表进入聊天详情
    $('.listBody').on('click','.friendItem',function(){
        var friend_id = $(this).attr('data-fid');
        if(!friend_id){
            alert('好友不存在');
            return false;
        }
        //加载聊天详情
        getMessage(user_id,friend_id);
    });

    //发送信息
    $('input[type=submit]').click(function(){
        var content = $('input[name=message]').val();
        var friend_id = $('.headFriend').attr('data-fid');
        if(!content){
            return false;
        }
        if(!friend_id){
            alert('好友不存在');
            return false;
        }
        //发送信息
        sendMessage(friend_id,content);
    });

    //发送信息
    function sendMessage(friend_id,content){
        //websocket发送信息
        var data = {"type":"person","send_id":user_id,"receive_id":friend_id,"content":content};
        ws.send(JSON.stringify(data));

        //操作dom
        var str = '';
        str += '<div class="messageRight"><div class="messageHeader"><img src="__PUBLIC__/talker/img/girl.png" alt=""></div><div class="messageBody"><div class="messageWord">'+content+'</div></div><div class="messageClear"></div></div>';
        $('.theBody').append(str);
    }
    //收到信息
    function receiveMessage(content){
        //操作dom
        var str = '';
        str += '<div class="messageLeft"><div class="messageHeader"><img src="__PUBLIC__/talker/img/girl.png" alt=""></div><div class="messageBody"><div class="messageWord">'+content+'</div></div><div class="messageClear"></div></div>';
        $('.theBody').append(str);
    }

    //加载聊天列表
    function getList(user_id){
        var data = toAjax('/index/index/getListAjax',{"user_id":user_id});

        if(!data){
            return false;
        }

        var str = '';

        for(i in data){
              str += '<div class="friendItem" data-fid="'+data[i].friend_id+'"><div class="itemHead"><img src="__PUBLIC__/talker/img/boy.png" alt=""></div>';
              str += '<div class="itemBody"><div><p class="itemName"><b>'+data[i].friend_name+'</b></p>\<p class="itemWord">'+data[i].content+'</p></div></div>';
              str += '<div class="lastTime"><p>&nbsp;</p><p>'+data[i].update_time+'</p>';
              if(data[i].unReadNum > 0){
                str += '<div class="unReadNum"><p>'+data[i].unReadNum+'</p></div>';
              }
              str += '</div></div>';
        }

        $('.listBody').empty();
        $('.listBody').append(str);

    }

    //加载好友列表
    function getFriend(user_id){
        var data = toAjax('/index/index/getFriendAjax',{"user_id":user_id});

        if(!data){
            return false;
        }

        var str = '';
        str += '<div class="biaozhi">个人</div>';
        for(i in data){
            str += '<div class="friendListItem" data-fid="'+data[i].friend_id+'"><div class="friendImg"><img src="__PUBLIC__/talker/img/boy.png" alt=""></div><div class="friendName"><p><b>'+data[i].friend_name+'</b></p></div></div>';
        }

        $('.personFriend').empty();
        $('.personFriend').append(str);

    }

    //聊天详情
    function getMessage(user_id,friend_id){
        var result = toAjax('/index/index/getMessageAjax',{"user_id":user_id,"friend_id":friend_id});

        var data = result.message;
        var friend_name = result.friend_name;

        if(!data){
            return false;
        }

        var str = '';

        for(i in data){
            if(data[i].receive_id == user_id){
                //收到的信息
                str += '<div class="messageLeft">';
            }else{
                //发出的信息
                str += '<div class="messageRight">';
            }
            str += '<div class="messageHeader"><img src="__PUBLIC__/talker/img/girl.png" alt=""></div><div class="messageBody"><div class="messageWord">'+data[i].content+'</div></div><div class="messageClear"></div></div>';
        }

        $('.theBody').empty();
        $('.theBody').append(str);

        //更换好友名称
        $('.headFriend').text(friend_name);
        $('.headFriend').attr('data-fid',friend_id);

        //显示详情页，隐藏好友页
        $('#friend').css('display','none');
        $('#talker').css('display','block');
    }



    //通用ajax请求(同步)
    function toAjax(url,data){

        var result;

        $.ajax({
            url:url,
            datatype:'json',
            type:'post',
            data:data,
            async:false,
            success:function(res){
                var res = eval('('+res+')');
                if(res.state != 100){
                    alert(res.msg);
                    return false;
                }
                result = res.data;
            },
            error:function(){
                alert('请求错误');
            }
        });

        if(!result){
            return false;
        }else{
            return result;
        }
    }


</script>
</html>
