<!--加载头部-->
{include file='/public/nav' /}

<!--<div class="layui-body">-->
    <!--&lt;!&ndash; 内容主体区域 &ndash;&gt;-->
    <!--<div style="padding: 15px;">内容主体区域</div>-->
<!--</div>-->

<div class="layui-body mycontainer">
    <!-- 内容主体区域 -->
    <!--百分百适配-->
    <div class="layui-fluid">
        <!--位置显示-面包屑导航-->
        <div class="layui-row layui-bg-gray button_nav">
            <span><b>位置：</b></span>
            <span class="layui-breadcrumb">
                  <a href="javascript:void(0)">系统管理</a>
                  <a href="javascript:void(0)">权限管理</a>
                  <a href="javascript:void(0)"><cite>管理员管理</cite></a>
            </span>
        </div>
        <!--操作栏-->
        <table class="layui-table button_opear" lay-skin="line">
            <tr>
                <!--加载按钮-->
                {include file='/public/button' /}
                <!--查询条件-->

            </tr>
        </table>
        <!--分割线-->
        <hr>
        <!--数据集-->
        <table class="layui-table" layui-even>
            <colgroup>
                <col width="10">
                <col width="100">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td></td>
                    <td>管理员id</td>
                    <td>管理员类型</td>
                    <td>账号</td>
                    <td>真实姓名</td>
                    <td>手机号码</td>
                    <td>访问次数</td>
                    <td>上次访问时间</td>
                    <td>上次访问IP</td>
                </tr>
            </thead>
            <tbody>
            {volist name='data' id='v'}
                <tr data-id="{$v.user_id}">
                    <td><input type="checkbox" data-id="{$v.user_id}" class="primary" lay-skin="primary"></td>
                    <td>{$v.user_id}</td>
                    <td>{$v.role_name}</td>
                    <td>{$v.username}</td>
                    <td>{$v.relaname}</td>
                    <td>{$v.mobile}</td>
                    <td>{$v.login_count}</td>
                    <td>{$v.last_time|date="y-m-d",###}</td>
                    <td>{$v.last_ip}</td>
                </tr>
            {/volist}
            </tbody>
        </table>
        <!--分割线-->
        <hr>
        <!--分页-->

    </div>
</div>

<!--加载底部-->
{include file='/public/footer' /}

<!--引入js文件-->
{include file='/public/dialog_javascript' /}
<!--js代码-->
<script>
    function add(){
        var msg = '添加管理员';
        var url = '/admin.php/System/adminAdd';
        var area = ['400px','400px'];
        pro.dialog(msg, url, area);
    }


    function upd() {
        var primary = pro.getPrimaryKey(1);
        if(primary){
            var msg = '修改管理员信息';
            var url = '/admin.php/System/adminUpd?user_id='+primary;
            var area = ['400px','400px'];
            pro.dialog(msg, url, area);
        }
    }


    function del() {
        var primary = pro.getPrimaryKey();
        if(primary){
            var msg = '是否删除';
            var url = '/admin.php/System/adminDel';
            var data = {primary:primary};
            pro.message(msg, url, data);
        }
    }
</script>
</body>
</html>