<!--加载头部-->
{include file='/public/nav' /}

<!--<div class="layui-body">-->
<!--&lt;!&ndash; 内容主体区域 &ndash;&gt;-->
<!--<div style="padding: 15px;">内容主体区域</div>-->
<!--</div>-->

<div class="layui-body mycontainer">
    <!-- 内容主体区域 -->
    <!--百分百适配-->
    <div class="layui-fluid">
        <!--位置显示-面包屑导航-->
        <div class="layui-row layui-bg-gray button_nav">
            <span><b>位置：</b></span>
            <span class="layui-breadcrumb">
                  <a href="javascript:void(0)">系统管理</a>
                  <a href="javascript:void(0)">权限管理</a>
                  <a href="javascript:void(0)"><cite>按钮管理</cite></a>
            </span>
        </div>
        <!--操作栏-->
        <table class="layui-table button_opear" lay-skin="line">
            <tr>
                <!--加载按钮-->
                {include file='/public/button' /}
                <td>
                    <form class="layui-form" action="/admin.php/Index/button" method="get">
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <input type="text" name="button_name" value="" lay-verify="required"
                                       placeholder="请输入按钮名" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="button_event" value="" lay-verify="required"
                                       placeholder="请输入按钮事件" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <input type="text" name="button_type" value="" lay-verify="required"
                                       placeholder="请输入按钮类型" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-input-inline">
                                <button class="layui-btn">搜索</button>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <!--分割线-->
        <hr>
        <!--数据集-->
        <table class="layui-table" lay-even>
            <colgroup>
                <col width="10">
                <col width="100">
                <col>
            </colgroup>
            <thead>
            <tr>
                <td></td>
                <td>按钮id</td>
                <td>按钮名</td>
                <td>按钮事件</td>
                <td>按钮类型</td>
                <td>按钮排序</td>
                <td>按钮描述</td>
            </tr>
            </thead>
            <tbody>
            {volist name='data' id='v'}
            <tr id="{$v.button_id}">
                <td><input type="checkbox" data-id="{$v.button_id}" class="primary" lay-skin="primary"></td>
                <td>{$v.button_id}</td>
                <td>{$v.button_name}</td>
                <td>{$v.button_event}</td>
                <td>{$v.button_type}</td>
                <td>{$v.button_sort}</td>
                <td>{$v.button_desc}</td>
            </tr>
            {/volist}
            </tbody>
        </table>
        <!--分割线-->
        <hr>
        <!--分页-->
        {include file='/public/page' /}
    </div>
</div>

<!--加载底部-->
{include file='/public/footer' /}

<script>
    function add() {
        var primary = pro.getPrimaryKey();
        if(primary){
            var msg = '是否删除';
            var url = '/admin.php/Login/test';
            var data = {primary:'1,2'};
            pro.message(msg, url, data);
        }
    }
</script>
</body>
</html>