<!--加载头部-->
{include file='/public/nav' /}

<!--<div class="layui-body">-->
    <!--&lt;!&ndash; 内容主体区域 &ndash;&gt;-->
    <!--<div style="padding: 15px;">内容主体区域</div>-->
<!--</div>-->

<div class="layui-body mycontainer">
    <!-- 内容主体区域 -->
    <!--百分百适配-->
    <div class="layui-fluid">
        <!--位置显示-面包屑导航-->
        <div class="layui-row layui-bg-gray button_nav">
            <span><b>位置：</b></span>
            <span class="layui-breadcrumb">
                  <a href="javascript:void(0)">系统管理</a>
                  <a href="javascript:void(0)">权限管理</a>
                  <a href="javascript:void(0)"><cite>模块管理</cite></a>
            </span>
        </div>
        <!--操作栏-->
        <table class="layui-table button_opear" lay-skin="line">
            <tr>
                <!--加载按钮-->
                {include file='/public/button' /}
                <!--查询条件-->

            </tr>
        </table>
        <!--分割线-->
        <hr>
        <!--数据集-->
        <table class="layui-table" lay-even>
            <colgroup>
                <col width="10">
                <col width="100">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td></td>
                    <td>模块id</td>
                    <td>模块名</td>
                    <td>模块父级</td>
                    <td>模块代码</td>
                    <td>模块链接</td>
                    <td>模块排序</td>
                </tr>
            </thead>
            <tbody>
            {volist name='data' id='v'}
                <tr data-id="{$v.module_id}">
                    <td><input type="checkbox" data-id="{$v.module_id}" class="primary" lay-skin="primary"></td>
                    <td>{$v.module_id}</td>
                    <td class="moduleTree" data-id="{$v.module_id}" >{$v.module_name}</td>
                    <td>{$v.module_pid}</td>
                    <td>{$v.module_code}</td>
                    <td>{$v.module_url}</td>
                    <td>{$v.module_sort}</td>
                </tr>
            {/volist}
            </tbody>
        </table>
        <!--分割线-->
        <hr>
        <!--分页-->

    </div>
</div>

<!--加载底部-->
{include file='/public/footer' /}
<script>
    function add(){
        var msg = '添加模块';
        var url = '/admin.php/System/moduleAdd';
        var area = ['400px','500px'];
        pro.dialog(msg, url, area);
    }


    function upd() {
        var primary = pro.getPrimaryKey(1);
        if(primary){
            var msg = '修改模块信息';
            var url = '/admin.php/System/moduleUpd?module_id='+primary;
            var area = ['400px','500px'];
            pro.dialog(msg, url, area);
        }
    }


    function del() {
        var primary = pro.getPrimaryKey();
        if(primary){
            var msg = '是否删除';
            var url = '/admin.php/System/moduleDel';
            var data = {primary:primary};
            pro.message(msg, url, data);
        }
    }

    function assignButton(){
        var primary = pro.getPrimaryKey(1);
        if(primary){
            var msg = '分配按钮';
            var url = '/admin.php/System/assignButton?module_id='+primary;
            var area = ['400px','500px'];
            pro.dialog(msg, url, area);
        }
    }
</script>
</body>
</html>