<!--加载头部-->
{include file='/public/nav' /}

<!--<div class="layui-body">-->
    <!--&lt;!&ndash; 内容主体区域 &ndash;&gt;-->
    <!--<div style="padding: 15px;">内容主体区域</div>-->
<!--</div>-->

<div class="layui-body mycontainer">
    <!-- 内容主体区域 -->
    <!--百分百适配-->
    <div class="layui-fluid">
        <!--位置显示-面包屑导航-->
        <div class="layui-row layui-bg-gray button_nav">
            <span><b>位置：</b></span>
            <span class="layui-breadcrumb">
                  <a href="javascript:void(0)">系统管理</a>
                  <a href="javascript:void(0)">权限管理</a>
                  <a href="javascript:void(0)"><cite>角色管理</cite></a>
            </span>
        </div>
        <!--操作栏-->
        <table class="layui-table button_opear" lay-skin="line">
            <tr>
                <!--加载按钮-->
                {include file='/public/button' /}
                <!--查询条件-->

            </tr>
        </table>
        <!--分割线-->
        <hr>
        <!--数据集-->
        <table class="layui-table" layui-enev>
            <colgroup>
                <col width="10">
                <col width="100">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <td></td>
                    <td>角色id</td>
                    <td>角色名</td>
                    <td>添加时间</td>
                    <td>角色描述</td>
                </tr>
            </thead>
            <tbody>
            {volist name='data' id='v'}
                <tr data-id="{$v.role_id}">
                    <td><input type="checkbox"  data-id="{$v.role_id}" class="primary" lay-skin="primary"></td>
                    <td>{$v.role_id}</td>
                    <td>{$v.role_name}</td>
                    <td>{$v.addtime|date='y-m-d H:i:s',###}</td>
                    <td>{$v.role_desc}</td>
                </tr>
            {/volist}
            </tbody>
        </table>
        <!--分割线-->
        <hr>
        <!--分页-->

    </div>
</div>

<!--加载底部-->
{include file='/public/footer' /}

<!--引入js文件-->
{include file='/public/common_javascript' /}
<!--js代码-->
<script>
    function add(){
        var msg = '添加角色';
        var url = '/admin.php/System/roleAdd';
        var area = ['400px','400px'];
        pro.dialog(msg, url, area);
    }


    function upd() {
        var primary = pro.getPrimaryKey(1);
        console.log(primary);
        if(primary){
            var msg = '修改角色信息';
            var url = '/admin.php/System/roleUpd?role_id='+primary;
            var area = ['400px','400px'];
            pro.dialog(msg, url, area);
        }
    }


    function del() {
        var primary = pro.getPrimaryKey();
        if(primary){
            var msg = '是否删除';
            var url = '/admin.php/System/roleDel';
            var data = {primary:primary};
            pro.message(msg, url, data);
        }
    }

    function prevm(){
        var primary = pro.getPrimaryKey(1);
        if(primary){
            var msg = '模块权限';
            var url = '/admin.php/System/rolePrevm?role_id='+primary;
            var area = ['400px','500px'];
            pro.dialog(msg, url, area);
        }
    }

    function prevb(){
        var primary = pro.getPrimaryKey(1);
        if(primary){
            var msg = '按钮权限';
            var url = '/admin.php/System/prevb?role_id='+primary;
            var area = ['400px','400px'];
            pro.dialog(msg, url, area);
        }
    }
</script>